*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.App {
background-color: sandybrown;
width: 100%;
height: 100vh;


display: flex;
flex-direction: column;
align-items: center;
gap: 50px;



  &__Header{
    margin-top:25px ;
    background-color: salmon;
    height: 15%;
    width: 20%;
    border: solid;
    
    display: flex;
    justify-content: center;
    align-items: center;
  &__Text{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: large;
  }
  
  }

  &__Container{
    width: 620px;
    height: inherit;
    
    background-color: silver;
    border: solid brown;

  
  }

}
.UserInput{
  display:flex;
  gap: 5px;
  justify-content: space-between;
  height: 10vh;
  
  &__Text{
    width: 18rem;
    font-size: 2rem;
  }
  &__Cancle{
    width: 10rem;

  }
  &__Add{
    width: 10rem;

  }
}

.Item{
  display: flex;
  margin-top: 10px;
  
  justify-content: space-around;

  &__Name{

    font-weight: bold;
    font-size: large;
  

  }
  &__Edit{
    padding-top: 3px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;


  }
  &__Delete{
    
    padding-top: 3px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
  }


}


/* // .App-logo {
//   animation: App-logo-spin infinite 20s linear;
// }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
